<%= form_for(@task, html: {class:"form-horizontal", role:"form"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, class:"control-label col-md-1" %>
    <div class="col-md-4">
      <%= f.text_field :description, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_date, class:"control-label col-md-1" %>
    <div class="col-md-3">
      <%= f.date_field :due_date, class:"form-control" %>
    </div>
  </div>
  <% if params[:action] == "edit" %>
    <div class="form-group">
      <div class="checkbox">
        <div class="col-md-offset-1 col-md-4">
          <label>
            <%= f.check_box :complete %> Complete
          </label>
        </div>
      </div>
    </div>
  <% end %>
  <div class="actions col-sm-offset-1">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', tasks_path, class:"btn btn-default" %>
  </div>

<% end %>
