<div class="page-header">
  <div class="pull-right">
    <%= link_to 'All Tasks', tasks_path, class: ("active" if @active_page=="All Tasks") %> |
    <%= link_to 'Incomplete Tasks', tasks_path(complete: false), class: ("active" if @active_page=="Incomplete Tasks") %>
    <%= link_to "New Task", new_task_path, class: "btn btn-info newtask-btn" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th><%= link_to "Description", tasks_path(filter_params({order_by_description: true})) %></th>
      <th><%= link_to "Complete", tasks_path(filter_params(order_by_complete: true))%></th>
      <th><%= link_to "Due", tasks_path(filter_params({order_by_due_date: true})) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
        <td class="col-md-4"><%= task.description %></td>
        <td class="col-md-4"><%= task.complete %></td>
        <td class="col-md-4"><%= task.due_date %></td>
        <div class="pull-right">
          <td><%= link_to 'Show', task, class:"btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class:"btn btn-info" %></td>
          <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </div>
    </tr>
    <% end %>
  </tbody>
  <div class="pull-right">
    <%= link_to " Download CSV", tasks_path(format: "csv"), class: "glyphicon glyphicon-download-alt btn btn-primary" %>
  </div>
</table>
