<%= form_for(@project, html: {class:"form-horizontal", role:"form"}) do |f| %>
  <%= render partial: "shared/errors", locals:{instance: @project} %>

  <div class="form-group">
    <%= f.label :name, class:"col-md-1" %>
    <div class="col-md-4">
      <%= f.text_field :name, class:"form-control", id: "project-name-field" %>
    </div>
  </div>

  <div class="actions col-sm-offset-1">
    <%= f.submit class: "btn btn-primary", id: "submit-project" %>
    <%= link_to 'Cancel', projects_path, class:"btn btn-default" %>
  </div>

<% end %>
