<!DOCTYPE html>
<html>
  <head>
    <title>GCamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <%= link_to "gCamp", root_path, :class =>'navbar-brand' %>
      </div>
    </nav>

    <div class="container">

      <% if notice %>
        <div id="notice" class="alert alert-success text-center">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
      <hr>
    </div>
    <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container container-fluid">
          <ul class="nav navbar-navs">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Terms", terms_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Projects", projects_path, id:"get-projects-index" %></li>
            <li><%= link_to "Tasks", tasks_path, id:"get-tasks-index" %></li>
            <li><%= link_to "Users", users_path, id:"get-users-index"%></li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
