<!DOCTYPE html>
<html>
  <head>
    <title>GCamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <%= link_to "gCamp", root_path, :class =>'navbar-brand' %>

        <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %> </li>
          <li><%= link_to "Sign Out", signout_path, id: "user-signout-action"%></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path, id: "user-registration-action" %></li>
          <li><%= link_to "Sign In", signin_path, id: "user-signin-action" %></li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div id="mainContent" class="container">
      <% if notice %>
        <div id="notice" class="alert alert-success text-center">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container container-fluid">
          <ul class="nav navbar-navs">
            <%= link_to "About", about_path %>
            <%= link_to "Terms", terms_path %>
            <%= link_to "FAQ", faq_path %>
            <%= link_to "Projects", projects_path, id:"get-projects-index" %>
            <%= link_to "Users", users_path, id:"get-users-index" %>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
